@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.hl-header {
    text-shadow: 5px -1px 2px white, -5px 1px 2px red;
}

.hl-header:hover {
    color: white;
    text-shadow: 5px -2px 1px black;
}